//  main.rc
//
//  Copyright (C) 2003 Philip Cummins, Weston Pawlowski, Paul C. Pratt
//
//  You can redistribute this file and/or modify it under the terms
//  of version 2 of the GNU General Public License as published by
//  the Free Software Foundation.  You should have received a copy
//  of the license along with this file; see the file COPYING.
//
//  This file is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  license for more details.

//  tries to use the lowest common denominator of
//  various windows resource compilers

#define IDI_VMAC                        256
#define IDI_DISK                        257
#define IDI_ROM                         258

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_VMAC                ICON    DISCARDABLE     "AppIcon.ico"
IDI_DISK                ICON    DISCARDABLE     "DskIcon.ico"
IDI_ROM                 ICON    DISCARDABLE     "RomIcon.ico"
